# === API DOCKER PRODUCTION ===

NODE_ENV=production
PORT=3000
DATABASE_URL=postgres://myquizz:myquizz@database:5432/myquizz_db
ALLOWED_ORIGINS=http://localhost:80,http://localhost
JWT_SECRET=votre-secret-jwt-tres-fort-genere-aleatoirement # A générer
LOGS_SERVICE_HOST=logs-service
LOGS_SERVICE_PORT=3001
FILES_SERVICE_HOST=files-service
FILES_SERVICE_PORT=3000
